body {
    font-family: Arial, sans-serif;
}

#MOU-list {
  text-align-last: right;
  margin-right: 14px;
  font-size: 1.4em;
  td {
    font-size: 1em;
  }
}

.tabla{
}

.totala{
  text-align-last: right;
  margin-right: 12px;
  
  td {
  font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
  }
}

.tar {
  
  margin-left: 5%;
    margin-right: 5%;
    background-color: aliceblue;
  bottom: 12px;
    position: fixed;
   border-radius: 12px;
  
  td {
    padding-left: 5%;
    text-align-last: left;
    background-color: aliceblue;
    font-weight: bold;
  }
  
}

td {
    font-size: 14px;
    width: 25%;
    text-align: -webkit-center;
}

#DEB-list{
  margin-left: 2%;
  margin-right: 8%;
  text-align-last: right;
  font-size: 24px;
  td{
    font-size: 24px;
  }
}

.hidden {
    display: none;
}

.login-container,
.content-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 5px;
    border-radius: 5px;
}

input[type="text"],
input[type="password"],
button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

#cartera-list {
    list-style-type: none;
    padding: 0;
    flex-direction: column-reverse;
    display: flex;
}

#cartera-list-2 {
    list-style-type: none;
    padding: 0;
    flex-direction: column-reverse;
    display: flex;
}

#cartera-list-3 {
    list-style-type: none;
    padding: 0;
    flex-direction: column-reverse;
    display: flex;
}

#cartera-list-4 {
    list-style-type: none;
    padding: 0;
    flex-direction: column-reverse;
    display: flex;
}

#cartera-list li {
    margin-bottom: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
#chart-1 {
  margin-top: -22px;
  margin-bottom: 12px;
}
#chart-container-1{
  margin: auto;
}
#chart-container-2{
  width: 50%;
}
#chart-container-3{
  width: 50%;
}
#chart-container-4{
  width: 50%;
}

#value-1 {
    font-size: 1em;
    text-align-last: center;
    margin-top: 0px;
}

#value-2 {
    font-size: 1em;
    position: absolute;
    margin-top: 21%;
    margin-left: 13%;
}

#value-3 {
   font-size: 1em;
    position: absolute;
    margin-top: 21%;
    margin-left: 13%;
}

#value-4 {
    font-size: 1em;
    position: absolute;
    margin-top: 21%;
    margin-left: 13%;
}