/* begin base styles */
/* https://milligram.github.io/ */
@import url('//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic');
@import url('//cdn.rawgit.com/necolas/normalize.css/master/normalize.css');
@import url('//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css');

body {
  margin: 2em;
  color: #333;
}

p {
  margin: 0.5em 0;
}

form {
  margin: 0;
}
/* end base styles */

#bg-selector {
	font-size: 1em;
	font-style: italic;
}

.author-label {
    margin-bottom: 20px;
    font-size: 14px;
    color: #555;
}

.color {
	width: 32px;
	height: 32px;
	border: 1px solid #555;
	display: inline-block;
	margin: 0 0 0 0.2em;
	cursor: pointer;
  padding: 2px;
}
.color img,
.color svg {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.black {
	background-color: #000;
}
.gray {
	background-color: #eaeaea;
}
.white {
	background-color: #fff;
}
.blue {
	background-color: #00529c;
}
.picker {
    display: none;
    background: -webkit-linear-gradient(-225deg, rgba(255,0,0,0.5) 0%, rgba(0,255,0,0.5) 30%, rgba(0,0,255,0.5) 65%, rgba(255,0,0,0.5) 100%);
    background: linear-gradient(-225deg, rgba(255,0,0,0.5) 0%, rgba(0,255,0,0.5) 30%, rgba(0,0,255,0.5) 65%, rgba(255,0,0,0.5) 100%);
}
#colorpicker { visibility: hidden; }

.bgcolorin {
    background-color: white;
    top: 0px;
    position: absolute;
    left: 0px;
    width: 100%;
    text-align: center;
    padding-top: 23px;
}


.button-container {
    margin-bottom: 20px;
}

.color-picker {
    margin-bottom: 0px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 350px;
    top: 50%;
    position: absolute;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: none;
    z-index: -2;
}